@import '../constants.scss';

.Tile {
  display: inline-block;
  margin: 1px;
  border: solid 1px #555;
  width: $tile-size;
  height: $tile-size;

  &.block-type-i {
    background-color: $color-1;
  }
  &.block-type-o {
    background-color: $color-2;
  }
  &.block-type-s {
    background-color: $color-3;
  }
  &.block-type-z {
    background-color: $color-4;
  }
  &.block-type-j {
    background-color: $color-5;
  }
  &.block-type-l {
    background-color: $color-6;
  }
  &.block-type-t {
    background-color: $color-7;
  }
}

.TileLine {
  line-height: 0;
}
