$tile-size: 20px;
$text-color: #eee;
$border-color: #555;
$color-1: deepskyblue;
$color-2: yellow;
$color-3: mediumseagreen;
$color-4: red;
$color-5: royalblue;
$color-6: goldenrod;
$color-7: blueviolet;
