@import './constants.scss';

.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  text-align: center;

  .main {
    display: flex;
    gap: 20px;
    width: 720px;
  }
}
